<% provide(:title, "About") %>
<h1>My Name is Amirhosein Bodaghi</h1>
<h2>I learning ruby on rails in this course, and this is my web application written by ruby on rails</h2>
<h2>If you are interested in learning ruby check the <a href="https://www.railstutorial.org/book/">rails tutorial</a> </h2>
