<% provide(:title, 'Contact') %>
<h1>call me if you need web app</h1>
<h2>
   my email adress is bodaghi.amh@gmail.com
</h2>
<h2>
   you can check my github profile by click on 
  <a href="https://github.com/amirhosein2">amirhosein2</a>
</h2>
