<% provide(:title, "Help") %>
<h1>
    help page
</h1>
<h2>
    regex are powerful tools for detecting strings.
    for mor help search online or visit <a href="http://regexone.com/">regex tutorial</a>.
    you can olso send me email on bodaghi.amh@gmail.com
</h2>
