<div class="center jumbotron">
  <h1>welcome to introduction to email validation</h1>

  <h2>
    This is the introduction to what I do to validate email based on
    <a href="http://davidcel.is/blog/2012/09/06/stop-validating-email-addresses-with-regex/">Stop validating email addresses with regex</a>
    and what I want to do, to insure password is secure.
  </h2>
  <h2>
    these methods are used in upcoming chapter
  </h2>
  <h2>
    I only modified introduction page
  </h2>

  <%= link_to "Introduction to user email validation", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
